<div class="d-flex justify-content-center">
  <div>
    <jhi-alert-error></jhi-alert-error>

    <ng-container *ngFor="let answer of answers">
      <jhi-answer-update [answerInput]="answer"></jhi-answer-update>
    </ng-container>

    <button type="button" class="btn btn-success" routerLink="../finished" (click)="updateQuestionaireTotalRating()">
      <fa-icon icon="user-check"></fa-icon>
      <span jhiTranslate="rateMyPmApp.questionaire.complete">Fertigstellen</span>
    </button>
  </div>
</div>
