<div class="center">
  <img class="image-20" src="../../content/images/rwu-logo.png" alt="RWU" />
  <h1><span jhiTranslate="home.title">Herzlich Willkommen bei Rate My PS!</span></h1>
  <p class="lead" jhiTranslate="home.subtitle">Anhand weniger Fragen kannst du hier dein Praxissemester bewerten</p>

  <div [ngSwitch]="account !== null">
    <div class="alert alert-success" *ngSwitchCase="true">
      <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }">
        Hallo "{{ account.login }}"</span
      >
      <a class="alert-link" routerLink="questionaire" jhiTranslate="home.logged.link">Hier gehts zum Fragebogen</a>
    </div>

    <div class="alert alert-warning" *ngSwitchCase="false">
      <span jhiTranslate="global.messages.info.toAuthorize.notSignedIn">Du bist noch nicht angemeldet?</span>&nbsp;
      <a class="alert-link" routerLink="login" jhiTranslate="global.messages.info.toAuthorize.toLogin">Hier gehts zum Login</a>
    </div>
    <div class="alert alert-warning" *ngSwitchCase="false">
      <span jhiTranslate="global.messages.info.register.noaccount">Du hast noch keinen Zugang?</span>&nbsp;
      <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Registriere dich hier</a>
    </div>
  </div>
</div>
